

.editprofile-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form2 {
  display: flex;
  flex-direction: column;
}

.textbox1 {
  margin-bottom: 15px;
}

.input-label2 {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.editprofile-container .textbox1 input[type="text"],
.editprofile-container .textbox1 input[type="file"],
.editprofile-container .textbox1 textarea.text2 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


/* textarea.text2 {
  resize: vertical;
  min-height: 80px;
} */

.profile-picture-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.profile-picture-container3 img {
  max-width: 100px;
  border-radius: 50%;
}

button.bazinga {
  padding: 10px 20px;
  background-color: #3d1b5d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
}

button.bazinga:hover {
  background-color: #8b50e3;
}
