@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.homePage {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  background: white; 
}

.homePage .posts-container {
  max-width: 500px;
  
}


.homePage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.homePage ul li {
  background: transparent;
  border: 0px solid #dfdfdf;
  margin-bottom: 1px;
  padding-bottom: 10px;
}

.caption {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.caption span {
  margin: 1px;
  padding-left: 1px;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.profile-info {
  display: flex;
  align-items: center;
}


.post-content {
  width: 100%;
  height: 100%;
  background: #fff;
  object-fit: contain;
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  overflow: hidden;
}


.post-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-info {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
}

.report-button{
  color: red;
  height: auto;
  width: auto;
}

.profile-picture {
  width: 50px !important;
  height: 60px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  margin-right: 10px !important;
  margin-left: -15px !important;
}

.username {
  margin: 0;
  font-weight: bold;
  font-size: 1000000px;
  margin-right: 10px;
}

.homePage ul li p {
  margin: 0;
  padding: 10px;
  font-size: 12px;
}
.actions {
  margin-top: -20px;
  margin-left: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}
.likes {
  font-size: small;
  font-weight:  000;
  color: grey;
}


.homePage ul li div input[type="text"] {
  width: 100%;
  margin-right: 10px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

.homePage ul li div input[type="text"]:focus {
  outline: none;
  /* border-color: #1da1f2;
  box-shadow: 0 0 5px #1da1f2; */
}

.homePage ul li div button {
  background-color: transparent;
  color:  #48474a;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.homePage .content-container {
  display: flex;
  align-items: center; /* Align horizontally */
  justify-content: center; /* Align vertically */
  flex-direction: column; /* Stack children vertically */
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

.posts-container {
  flex-grow: 1;
  max-width: 400px;
  margin-left: 120px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination {
  display: inline-flex;
  padding-left: 0;
  margin: 0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8b50e3;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #f8f9fa;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #8b50e3;
  border-color: #8b50e3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}
.recommendations-container1{
  border: none;
  height: fit-content;
  width: fit-content;
}



