.recommendations-wrapper {
  border: none;
  padding: 10px;
  background-color: #ffffff;
  width: 350px;
}

.recommendations-wrapper h4 {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.recommendations-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recommendations-wrapper ul li {
  border: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.darko{
  justify-content: space-between;
  flex-direction: row;
  margin-left: -10px;
  display: flex;
  width: 180px;
  color: #8b50e3;
}

.recommendations-wrapper ul li:last-child {
  margin-bottom: 0;
}


.recommendations-wrapper ul li img.profile-picture {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  margin-right: 10px !important; 
}

.suggested-user-button {
  background-color: transparent;
  color: #262626;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  flex-grow: 1;
}

.recommendations-wrapper .follow button{
  color: #8b50e3 ;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.follow button:hover{
  color: #402074;
}

.suggested-user-button:hover {
  color: #8b50e3;
}
