.recommendations-wrapper {
  border: none;
  padding: 10px;
  background-color: #ffffff;
  max-width: 350px;
  width: 100%;
}

.recommendations-wrapper h4 {
  opacity: 0.9;
  font-size: 16px;
  font-weight: 600;
}

.recommendations-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recommendations-wrapper ul li {
  border: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.recommendations-wrapper .current-user {
  width: fit-content;
  height: fit-content;
}

.recommendations-wrapper ul li:last-child {
  margin-bottom: 0;
}


.recommendations-wrapper ul li img.profile-picture {
  max-width: 40px !important;
  max-height: 40px !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 10px !important; 
}

.suggested-user-button {
  background-color: transparent;
  color: #262626;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  flex-grow: 1;
}

.recommendations-wrapper .follow button{
  color: #8b50e3;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.follow button:hover{
  color: #402074;
}

.suggested-user-button:hover {
  color: #8b50e3;
}



@media (max-width: 768px) {
  .recommendations-wrapper ul li {
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align to the start */
  }

  .recommendations-wrapper ul li img.profile-picture {
    width: 30px; /* Smaller image size */
    height: 30px;
    margin-bottom: 5px; /* Add space below the image */
  }

  .suggested-user-button {
    font-size: 14px; /* Smaller font size */
  }

  .recommendations-wrapper h4 {
    font-size: 14px; /* Smaller heading */
  }

}