.recommendations-wrapper {
  border: none;
  padding: 15px;
  /* margin-right: 250px;
  margin-top: 100px; */
  background-color: transparent;
  width: 250px;
}

.recommendations-wrapper h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.recommendations-wrapper ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.recommendations-wrapper ul li {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: -19px;
  background-color: transparent;
}

.recommendations-wrapper ul li img.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px !important; 
}

.suggested-user-button {
  background-color: transparent;
  color: #1a1a1a;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.suggested-user-button:hover {
  color: #8b50e3;
}
