.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .user-profile-container h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .user-profile-container p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .user-profile-container .follow-button {
    margin-top: 1rem;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    clip-path: circle(50% at 50% 50%);
  }

  .profile-header {
    display: flex;
    align-items: center;
  }
  